* {
  box-sizing: border-box;
}

html, body, :global(#root) {
  height: 100%;
  font-size: 16px;
}

/*****************
*
*  change antd default css 
*
*******/

:global(.ant-list-vertical .ant-list-item-meta-avatar) {
  display: block !important;
}

:global(.ant-list-vertical .ant-list-item-meta-title) {
  margin-bottom: 0 !important;
}

:global(.ant-layout) {
  background: #fff !important;
}

/** end **/

:global(.pull_left) {
  float: left !important;
}

:global(.pull_right) {
  float: right !important;
}

:global(.txt_center) {
  text-align: center
}

:global(.mB5) {
  margin-bottom: 5px !important;
}

:global(.mT10) {
  margin-top: 10px;
}

:global(.mB10) {
  margin-bottom: 10px;
}

:global(.mT20) {
  margin-top: 20px;
}
 
:global(.mT50) {
  margin-top: 50px;
}

:global(.container) {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

:global(.footer) {
  margin-top: 20px;
  text-align: center;
}

:global(.footer p) {
  margin-bottom: 0;
  color: #868484;
}

@media (min-width: 544px) {
 :global(.container) {
    max-width: 576px;
  }  
}

@media (min-width: 768px) {
 :global(.container) {
    max-width: 720px;
  }  
}

@media (min-width: 992px) {
 :global(.container) {
    max-width: 940px;
  }  
}

@media (min-width: 1200px) {
  :global(.container) {
    max-width: 1140px;
  }  
}
